/.DS_Store
/commentary_0.mp3
/commentary_1.mp3
/commentary_2.mp3
/commentary_3.mp3
/commentary_4.mp3
/frame0.jpg
/frame120.jpg
/frame30.jpg
/frame60.jpg
/frame90.jpg
/geminiproject-427812-691004cea6af.json
/venv